
@model Produto

<title>Cadastrar novo Produto</title>
<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Cadastrar novo produto</p>
        </div>
        <ul class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="#">Formulário</a>
            </li>
            <li>
                <a href="#">Cadastrar novo produto</a>
            </li>
        </ul>
    </div>

    <form asp-action="AdicionarNovo" id="FormAdd" method="post">
        <div class="form-horizontal">
            <div class="panel-body" id="formCadastro">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <h3>Dados do Produto:</h3>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="nomeproduto">Nome <h11>*</h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.Nome" id="nomeproduto" placeholder="Nome do produto" class="form-control input-md" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="marca">Marca<h11>*</h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.Marca" id="marca" placeholder="Marca do produto" class="form-control input-md" type="text">
                    </div>
                </div>
                <!-- Multiple Radios (inline) -->

                <div class="form-group">
                    <label class="col-md-2 control-label" id="Genero" for="Genero">Categoria <h11>*</h11></label>
                    <div class="col-md-3">
                        <select asp-for="@Model.Categoria" id="categoria" class="form-control input-md">
                            <option value="P">Produto</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="precoVenda">Preço de Venda<h11>*</h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.PrecoVenda" id="precoVenda" placeholder="R$ 00,00" value="" class="form-control input-md" type="text" onkeyup="Page.CalculatePoints()"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="precoCusto">Preço de Custo<h11>*</h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.PrecoCusto" id="precoCusto" placeholder="R$ 00,00" value="" class="form-control input-md" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="precoVenda">Estoque Atual<h11>*</h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.EstoqueAtual" id="estoqueAtual" placeholder="" class="form-control input-md" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="limiteEstoque">Limite de Estoque<h11></h11></label>
                    <div class="col-md-3">
                        <input asp-for="@Model.LimiteEstoque" id="limiteEstoque"placeholder="" class="form-control input-md" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="observacoes">Descrição</label>
                    <div class="col-md-3">
                        <textarea asp-for="@Model.Descricao" id="observacoes" class="form-control input-md" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="dataFabricacao">Data Fabricação</label>
                    <div class="col-md-2">
                        <input asp-for="@Model.DataFabricacao" id="dataFabricacao" placeholder="DD/MM/AAAA" class="form-control input-md" type="date" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Validade">Validade<h11>*</h11></label>
                    <div class="col-md-2">
                        <input asp-for="@Model.Validade" id="Validade" placeholder="DD/MM/AAAA" class="form-control input-md" type="date" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="trocapontos">Troca por Pontos</label>
                    <div class="col-md-3">
                        <input asp-for="@Model.QtdPontosProgFidelidade" id="trocapontos" placeholder="" class="form-control input-md" type="text">
                    </div>
                </div>

                <hr>
                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="reset">Cancelar</button>
                    </div>
                    <fieldset id=""></fieldset>

                </div>
            </div>
            <fieldset id="panel-body"></fieldset>
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/Template/TemplateADMIN/assets/scripts/templateAdminScripts.js"></script>
    <script src="~/js/Form/produtoForm.js"></script>
}