<title>Edição de usuário</title>
<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Editar funcionário</p>
        </div>
        <ul class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="#">Formulário</a>
            </li>
            <li>
                <a href="#">Editar funcionário</a>
            </li>
        </ul>
    </div>

    <form action="/Usuario/UpdateUsuario" id="FormAdd" method="post">
        <div class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados do Funcionário:</h3>
                    </div>
                </div>

                @{
                    string val = string.Empty;
                    if (ViewBag.usuario.Ativo == true)
                    {
                        val = "True";
                    }
                    else
                    {
                        val = "False";
                    }
                    <input name="usuario.Ativo" value="@val" id="clienteAtivo" type="hidden" readonly>
                }
                
                
                <input name="usuario.DataInclusao" value="@ViewBag.usuario.DataInclusao" id="clienteDataInclusao" type="hidden" readonly>
                <input name="usuario.DataAlteracao" value="@ViewBag.usuario.DataAlteracao" id="clienteDataAlteracao" type="hidden" readonly>
                <input name="usuario.UsuarioInclusaoId" value="@ViewBag.usuario.UsuarioInclusaoId" id="clienteUsuarioInclusaoId" type="hidden" readonly>
                <input name="usuario.UsuarioAlteracaoId" value="@ViewBag.usuario.UsuarioAlteracaoId"id="clienteUsuarioAlteracaoId" type="hidden" readonly>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="id">Id <h11>*</h11></label>
                    <div class="col-md-3">
                        <input name="usuario.Id" value="@ViewBag.usuario.Id" id="id" readonly class="form-control input-md" type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label">Nivel de acesso <h11>*</h11></label>
                    <div class="col-md-4">
                        @{
                            if (@ViewBag.usuario.NivelAcesso.Equals('A'))
                            {
                                <label class="radio-inline" for="funcionarioNivelAcessoA">
                                    <input name="usuario.NivelAcesso" id="funcionarioNivelAcessoA" value="A" type="radio" checked>
                                    Administrador
                                </label>
                                <label class="radio-inline" for="funcionarioNivelAcessoN">
                                    <input name="usuario.NivelAcesso" id="funcionarioNivelAcessoN" value="N" type="radio">
                                    Normal
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline" for="funcionarioNivelAcessoA">
                                    <input name="usuario.NivelAcesso" id="funcionarioNivelAcessoA" value="A" type="radio">
                                    Administrador
                                </label>
                                <label class="radio-inline" for="funcionarioNivelAcessoN">
                                    <input name="usuario.NivelAcesso" id="funcionarioNivelAcessoN" value="N" type="radio" checked>
                                    Normal
                                </label>
                            }

                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>
                    <div class="col-md-5">
                        <input name="usuario.Nome" value="@ViewBag.usuario.Nome" id="Nome" placeholder="Nome do funcionário" class="form-control input-md" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="apelido">Apelido <h11>*</h11></label>
                    <div class="col-md-5">
                        <input name="usuario.Apelido" value="@ViewBag.usuario.Apelido" id="apelido" placeholder="Nome do funcionário" class="form-control input-md" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <input name="usuario.Email" value="@ViewBag.usuario.Email" id="email" class="form-control" placeholder="funcionario@email.com" type="email">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nome">Senha <h11>*</h11></label>
                    <div class="col-md-3">
                        <input name="usuario.Senha" value="@ViewBag.usuario.Senha" id="senhaPrincipal" placeholder="Digite sua senha" class="form-control input-md" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="senhaRepetida">Repita a senha <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="senhaRepetida" name="senhaRepetida" placeholder="Digite sua senha novamente" class="form-control input-md" type="password">
                    </div>
                </div>
                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Usuario/Cadastrados'" type="reset">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/Template/TemplateADMIN/assets/scripts/templateAdminScripts.js"></script>
    <script src="~/js/Form/usuarioForm.js"></script>
}