@model Pessoa
<title>Cadastrar novo cliente</title>
<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Cadastrar novo cliente</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Formulário</a></li>
            <li><a href="#">Cadastrar novo cliente</a></li>
        </ul>
    </div>


    <form asp-action="AdicionarNovo" id="FormAdd" method="post">
        <div class="form-horizontal">
            <div class="panel-body" id="formCadastro">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <h3>Dados do cliente:</h3>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="NomeCompleto">Nome Completo <h11>*</h11></label>
                    <div class="col-md-5">
                        <input asp-for="@Model.Nome" type="text" id="nomeCompleto" placeholder="Nome do Cliente" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nascimento">Nascimento<h11>*</h11></label>
                    <div class="col-md-2">
                        <input asp-for="@Model.DataNascimento" id="nascimento" placeholder="DD/MM/AAAA" class="form-control input-md" type="date" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                    </div>

                    <!-- Multiple Radios (inline) -->

                    <label class="col-md-1 control-label" id="Genero" for="Genero">Gênero <h11>*</h11></label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios-1">
                            <input asp-for="@Model.Genero" id="genero" value="M" type="radio">
                            Masculino
                        </label>
                        <label class="radio-inline" for="radios-0">
                            <input asp-for="@Model.Genero" id="genero" value="F" type="radio">
                            Feminino
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Rg">RG <h11>*</h11></label>
                    <div class="col-md-2">
                        <input asp-for="@Model.RG" id="rg" placeholder="Apenas números" class="form-control input-md" type="text" maxlength="11" pattern="[0-9]+$">
                    </div>
                    <label class="col-md-1 control-label" for="Nome">CPF <h11>*</h11></label>
                    <div class="col-md-2">
                        <input asp-for="@Model.CPFCNPJ" id="CpfeCnpj"placeholder="Apenas números" onkeyup="confereCPF(this)" class="form-control input-md" type="text" maxlength="15" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$">
                        <span id="cpfFrase"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input asp-for="@Model.Email" id="email"class="form-control" placeholder="pessoa@email.com" type="email">
                        </div>
                    </div>
                </div>

                <!-- Prepended text-->
                <div class="form-group">

                    <label class="col-md-2 control-label" for="prependedtext">Telefone 1 <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input asp-for="@Model.TelefoneUm" id="telefoneUm" class="form-control" placeholder="(XX) XXXXX-XXXX" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
                        </div>
                    </div>

                    <label class="col-md-1 control-label" for="prependedtext">Telefone 2 <h11></h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input asp-for="@Model.TelefoneDois" id="telefoneDois" class="form-control" placeholder="(XX) XXXXX-XXXX" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
                        </div>
                    </div>


                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <h3>Dados de endereço:</h3>
                    </div>
                </div>

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                    <div class="col-md-2">
                        <input asp-for="@Model.Endereco.CEP" id="Cep" onfocusout="pesquisacep(Cep.value)" placeholder="Apenas números" class="form-control input-md" type="search" maxlength="8" pattern="[0-9]+$">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="pesquisacep(Cep.value)">Pesquisar</button>
                    </div>
                </div>

                <!-- Endereço-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Rua</span>
                            <input asp-for="@Model.Endereco.Rua" id="rua"class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Nº <h11>*</h11></span>
                            <input asp-for="@Model.Endereco.Numero" id="numero" class="form-control" placeholder="" type="text">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Bairro</span>
                            <input asp-for="@Model.Endereco.Bairro" id="bairro" class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cidade</span>
                            <input asp-for="@Model.Endereco.Cidade" id="cidade" class="form-control" placeholder="" type="text">
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <input asp-for="@Model.Endereco.Estado" id="estado" class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Complemento</span>
                            <input asp-for="@Model.Endereco.Complemento" id="complemento" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="reset">Cancelar</button>
                    </div>
                    <fieldset id=""></fieldset>

                </div>
            </div>
            <fieldset id="panel-body"></fieldset>
        </div>
    </form>
</div>
